.logo, .logo:link {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  letter-spacing: -0.8px;
  background: url('orange.svg') no-repeat;
  padding: 0 0 0 36px;
  margin: 0 auto 0 0;
}

.logo:hover {
  color: #888;
}

.header {
  align-items: center;
  display: flex;
}

.header,
.content {
  width: 640px;
  margin: 0 auto;
}

.section {
  margin: 24px 0 54px;
}

.demo-area {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebf1;
}

@media (max-width: 680px) {
  .header,
  .content {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
