body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  background: #f5f5fb;
}

a:link,
a:visited {
  color: $color--bubblegum;
}

::selection {
  background: $color--bubblegum;
  color: #fff;
}
