%button {
  border: none;
  border-radius: 2px;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: $typography--default-font-stack;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow;
  transition:
    box-shadow .2s cubic-bezier(.4, 0, 1, 1),
    background-color .2s cubic-bezier(.4, 0, .2, 1),
    color .2s cubic-bezier(.4, 0, .2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  user-select: none;
  vertical-align: middle;
}

.#{$roble-prefix}button {
  @extend %button;
  background: rgba($color--bubblegum, 0.1);
  color: $color--bubblegum;

  &:hover {
    background: rgba($color--bubblegum, 0.2);
  }

  &:active {
    background: rgba($color--bubblegum, 0.4);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($color--bubblegum, .2);
  }

  &--secondary {
    @extend %button;
    background: transparent;
    color: #666;

    &:hover {
      background: rgba(0, 0, 0, .06);
    }

    &:active {
      background: rgba(0, 0, 0, .12);
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($color--bubblegum, .2);
    }
  }
}
