.#{$roble-prefix}checkbox {
  position: fixed;
  top: -30px;
  left: -30px;
  opacity: 0;

  & + label {
    color: #505052;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    display: flex;
    position: relative;
    user-select: none;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background: #fff center center;
      background-size: 90%;
      margin: 0 10px 0 0;
      border: 2px solid #aaa;
      transition:
        background .1s ease,
        background-size .1s ease,
        border .1s ease;
    }

    &::after {
      content: '';
      width: 40px;
      height: 40px;
      background: rgba(0, 0, 0, .1);
      position: absolute;
      left: -10px;
      top: -10px;
      border-radius: 100%;
      transform: scale(0);
      transition: transform .5s ease;
    }
  }

  &:checked {
    & + label {
      &::before {
        border-color: #ff8981;
        background: #ff8981 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgMjAgMjAiPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNy44LDE1LjYgMi4yLDEwIDMuOCw4LjQgNy44LDEyLjQgMTYuMiw0IDE3LjgsNS42ICIvPjwvc3ZnPg==);
        background-size: 100%;
        color: #fff;
      }
    }
  }

  &:active {
    & + label {
      &::after {
        transform: scale(1);
        transition: transform .1s ease;
      }
    }
  }

  @keyframes checkboxFocus {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(.8);
    }
  }

  &:focus {
    & + label {
      &::after {
        background: rgba($color--bubblegum, .2);
        animation: checkboxFocus .7s infinite alternate;
        transition:
          transform .1s ease,
          color .1s ease;
      }
    }
  }
}
