.#{$roble-prefix}layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    padding: 20px;
  }

  &__content {
    flex: 1;
    margin: 0 auto;
  }

  &__footer {
    color: #888;
    font-size: 12px;
    text-align: center;
    padding: 20px;
  }
}
