.#{$roble-prefix}panel {
  border-radius: 6px;
  box-shadow:
    0 2px 14px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.01);
  background: #fff;

  &__title {
    box-sizing: border-box;
    margin: 0;
    padding: 20px 20px 0;
  }

  &__inner {
    box-sizing: border-box;
    padding: 20px;
  }
}
