.#{$roble-prefix}select {
  border: 0;
  background:
    #fff
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNyAxMGw1IDUgNS01eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=)
    no-repeat
    right center;
  font-family: sans-serif;
  padding: 0 32px 0 16px;
  font-size: 16px;
  border-radius: 2px;
  -webkit-appearance: none;
  color: #555;
  height: 36px;
  transition: box-shadow .1s ease;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba($color--bubblegum, .3);
  }
}
