.#{$roble-prefix}field-label {
  color: #505052;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  display: flex;
  position: relative;
  user-select: none;
  margin: 0 0 4px;
}

.#{$roble-prefix}textfield {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  border: 0;
  background: #fff;
  border-radius: 2px;
  color: #555;
  padding: 8px;
  display: block;
  font-family: $typography--default-font-stack;
  font-size: 16px;
  outline: 0;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: rgba($color--slate, .2);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($color--bubblegum, .3);
  }
}
