%heading {
  color: $color--asphalt;
  font-family: $typography--default-font-stack;
  font-weight: normal;
}

html {
  font-size: 1em;
}

body {
  font-family: BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $color--slate;
}

.rbl-paragraph {
  margin-bottom: 1.3em;
}

.rbl-header-1,
.rbl-header-2,
.rbl-header-3,
.rbl-header-4 {
  @extend %heading;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

.rbl-header-1 {
  @extend %heading;
  margin-top: 0;
  font-size: 2.074em;
}

.rbl-header-2 {
  @extend %heading;
  font-size: 1.728em;
}

.rbl-header-3 {
  @extend %heading;
  font-size: 1.44em;
}

.rbl-header-4 {
  @extend %heading;
  font-size: 1.2em;
}

.#{$roble-prefix}small {
  font-size: 0.833em;
}
